pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'
  buildProjects: '**/src/**/*.csproj'
  testProjects: '**/test/**/*.csproj'

# Based on https://whereslou.com/2018/09/versioning-and-publishing-nuget-packages-automatically-using-azure-devops-pipelines/ 
steps:
- task: DotNetCoreCLI@2
  displayName: Build !
  inputs:
    command: 'build'
    arguments: /p:Configuration=$(BuildConfiguration) # https://github.com/MicrosoftDocs/vsts-docs/issues/1976
    projects: $(buildProjects)

- task: DotNetCoreCLI@2
  displayName: Test !
  inputs:
    command: 'test'
    arguments: /p:Configuration=$(BuildConfiguration)
    nobuild: true
    projects: $(testProjects)

- task: DotNetCoreCLI@2
  displayName: Pack !
  inputs:
    command: pack
    projects: $(buildProjects)
    nobuild: true
    packDirectory: '$(Build.ArtifactStagingDirectory)/packages'
    versioningScheme: 'byPrereleaseNumber'
    verbosityPack: 'detailed'

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts !
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- task: DotNetCoreCLI@2
  displayName: Push to MyGet !
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    command: custom
    custom: nuget
    arguments: push $(Build.ArtifactStagingDirectory)\packages\*.nupkg --source https://www.myget.org/F/stef-test/api/v3/index.json --no-service-endpoint --api-key $(MyGetKey)

#- task: DotNetCoreCLI@2
#  displayName: 'MyGet !'
#  inputs:
#    configuration: 'Release'
#    command: 'push'
#    projects: '**/*.csproj'
#    packagesToPush: '**/*.nupkg'
#    nuGetFeedType: 'external' 
#    publishVstsFeed: 'https://www.myget.org/F/stef-test/api/v2/package'
#    publishFeedCredentials: '$(MyGetKey)'
#    versioningScheme: 'byPrereleaseNumber'